body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('./bg.png');
}

.row {
  display: flex;
  margin-top: 10px;
}

.row > div {
  flex: 1;
}