@import '../../vars.scss';

.clock-container {
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  background: rgba(0, 0, 0, 0.65);
  color: #cecece;
  align-content: space-between;
  font-size: 18px;
  text-transform: uppercase;

  & > div {
    height: 100%;
    flex-grow: 1;
    text-align: center;
    justify-content: center;
    align-items: center;

    & * {
      font-family: 'Roboto Mono', monospace;
      font-weight: 100;
    }
  }

  .clock {
    font-size: 28px;
  }
}

